{% extends "home/professeur/prof_base.html" %}
{% block content %}
{% load static %}

{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}


{% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}


<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h1>Créer une archive</h1>
        </div>
        <div class="row justify-content-center text-dark w-75">
            <div class="col-lg-12">
                <div class="contact-form rounded p-5" style="background-color: rgb(202, 202, 211);">
                    <div id="success"></div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="control-group">
                            <label for="nom_archives"><b>Nom de l'archive</b></label>
                            <input type="text" class="form-control border-0 p-4" id="nom_archives" placeholder="Nom de l'archive" required="required"  name="nom_archive"/>
                            <label for="doc"><b>Ajouter un document</b></label>
                            <input type="file" class="form-control border-0 p-4" id="doc" name="fichier" />
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary py-3 px-5 mt-3"type="submit">Creer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}