{% extends 'home/professeur/prof_base.html' %}
{% block content %}
  {% load static %}

  <div class="container-fluid py-5">
    <div class="container py-5">
      <div class="text-center mb-5">
        <h1>Modifier ce cours</h1>
      </div>
      <div class="row justify-content-center text-dark w-100">
        <div class="col-lg-12">
          <div class="contact-form rounded p-5" style="background-color: rgb(202, 202, 211);">
            <div id="success"></div>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="control-group col-8">
                  <p>
                    <label for="titre"><b>Titre du cours</b></label>
                  </p>
                  <p>{{ form.titre }}</p>

                  <p>
                    <label for="intoduction"><b>Introduction</b></label>
                  </p>
                  <p>{{ form.intoduction }}</p>

                  <p>
                    <label for="resume"><b>Résumé</b></label>
                  </p>
                  <p>{{ form.resume }}</p>

                  <p>
                    <label for="doc"><b>Ajouter un document</b></label>
                  </p>
                  <p>{{ form.document }}</p>

                  <p>
                    <label for="fichier"><b>Ajouter une image</b></label>
                  </p>
                  <p>{{ form.fichier }}</p>
                </div>

                <div class="control-group col-4">
                  <p>
                    <label for="choix_matiere"><b>Choisir une matière</b></label>
                    {{ form.choix_matiere }}
                  </p>

                  <p><label for="choix_classe"><b>Choisir une classe</b></label>
                    {{ form.choix_classe }}</p>

                  <p><label for="profil_cours"><b>Ajouter un profil à la matière</b></label>
                    {{ form.profil_cours }}</p>

                  <p><label for="temps_etudes"><b>Temps d'études (en minutes)</b></label>
                    {{ form.temps_etudes }}</p>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-info py-3 px-5 mt-3" type="submit"><b>Enregistrer</b></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
