{% extends "home/admin/admin_base.html" %}
{% block content %}
{% load static %}


{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

<div class="container img-fluid">
    <h1 class="fs-4 mt-2"> Êtes vous sur de vouloir supprimer la matiere: {{matiere.nom_matiere}} ? </h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger py-md-2 px-md-4 font-weight-semi-bold mt-2">oui </button>
        <a href="{% url "indexadmin" %}" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">non</a>
    </form>
</div>


{% endblock %}